<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Ness Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-template #anonymousUser>
        <li class="nav-item">

          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Login</button>
        </li>
      </ng-template>
      <li ngbDropdown *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.displayName}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/user-orders">My Orders</a>
          <a class="dropdown-item" routerLink="/check-out">Check Out</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×</button>
        <h4 class="modal-title" id="myModalLabel">
          Login/Registration -
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#Login" data-toggle="tab">Login</a>
              </li>
              <li>
                <a href="#Registration" data-toggle="tab">Registration</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="Login">
                  <form #loginForm="ngForm" (ngSubmit)="login(user)">

                  <div class="form-group" [class.has-error]="usernameControl.invalid" [class.has-success]="usernameControl.valid">
                    <label for="username">Username</label>
                    <input required id="username" name="username" [(ngModel)]="user.username" type="text" class="form-control" #usernameControl="ngModel">
                    <span class="help-block" *ngIf="usernameControl.invalid && usernameControl.touched">
                      Username is required
                    </span>
                  </div>

                  <div class="form-group" [class.has-error]="passwordControl.invalid" [class.has-success]="passwordControl.valid">
                    <label for="password">Password</label>
                    <input required id="password" name="password" [(ngModel)]="user.password" type="password" class="form-control" #passwordControl="ngModel">
                    <span class="help-block" *ngIf="passwordControl.invalid && passwordControl.touched">
                      Password is required
                    </span>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
                      <a href="javascript:;">Forgot your password?</a>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="Registration">
                  <form #userForm="ngForm" (ngSubmit)="saveUser(user)">
                  <div class="form-group" [class.has-error]="firstNameControl.invalid" [class.has-success]="firstNameControl.valid">
                    <label for="firstName">First Name</label>
                    <input required id="firstName" name="firstName" [(ngModel)]="user.firstName" type="text" class="form-control" #firstNameControl="ngModel">
                    <span class="help-block" *ngIf="firstNameControl.invalid && firstNameControl.touched">
                      First Name is required
                    </span>
                  </div>
                  <div class="form-group" [class.has-error]="lastNameControl.invalid" [class.has-success]="lastNameControl.valid">
                    <label for="lastName">Last Name</label>
                    <input required id="lastName" name="lastName" [(ngModel)]="user.lastName" type="text" class="form-control" #lastNameControl="ngModel">
                    <span class="help-block" *ngIf="lastNameControl.invalid && lastNameControl.touched">
                      Last Name is required
                    </span>
                  </div>

                  <div class="form-group" [class.has-error]="emailControl.invalid" [class.has-success]="emailControl.valid">
                    <label for="email">Email</label>
                    <input required [email]="user.email!==''" id="email" name="email" [(ngModel)]="user.email" type="text" class="form-control"
                      #emailControl="ngModel">
                    <span class="help-block" *ngIf="emailControl.errors?.required && emailControl.touched">
                      Email is required
                    </span>
                    <span class="help-block" *ngIf="emailControl.errors?.email && emailControl.touched">
                      Email is Invalid
                    </span>
                  </div>
                  <div class="form-group" [class.has-error]="usernameControl.invalid" [class.has-success]="usernameControl.valid">
                    <label for="username">Username</label>
                    <input required id="username" name="username" [(ngModel)]="user.username" type="text" class="form-control" #usernameControl="ngModel">
                    <span class="help-block" *ngIf="usernameControl.invalid && usernameControl.touched">
                      Username is required
                    </span>
                  </div>
                  <div class="form-group" [class.has-error]="passwordControl.invalid" [class.has-success]="passwordControl.valid">
                    <label for="password">Password</label>
                    <input required id="password" name="password" [(ngModel)]="user.password" type="password" class="form-control" #passwordControl="ngModel">
                    <span class="help-block" *ngIf="passwordControl.invalid && passwordControl.touched">
                      Password is required
                    </span>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>
                      <button type="button" class="btn btn-default btn-sm">
                        Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div id="OR" class="hidden-xs">
              OR</div>
          </div>
          <div class="col-md-4">
            <div class="row text-center sign-with">
              <div class="col-md-12">
                <h3>
                  Sign in with</h3>
              </div>
              <div class="col-md-12">
                <div class="btn-group btn-group-justified">
                  <a href="#" class="btn btn-primary">Facebook</a>
                  <a href="#" class="btn btn-danger">
                    Google</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>