
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
	<a class="navbar-brand" routerLink="/">Ness Shop</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<ng-template #anonymousUser>
				<li class="nav-item">

					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
						Login</button>
				</li>
			</ng-template>
			<li ngbDropdown *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
				<a ngbDropdownToggle class="nav-link dropdown-toggle"
				id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				{{user.displayName}}
				</a>
				<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" routerLink="/user-orders">My Orders</a> 
					<a class="dropdown-item" routerLink="/check-out">Check Out</a> 
					<a class="dropdown-item" (click)="logout()">Logout</a>
				</div>
			</li>
		</ul>
	</div>
</nav>

 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body">
        
          <form #userForm="ngForm" (ngSubmit)="login(user)">
            
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">User Login</h3>
              </div>
          
              <div class="panel-body">

                <div class="form-group" [class.has-error]="usernameControl.invalid" [class.has-success]="usernameControl.valid">
                  <label for="username">Username</label> 
                  <input required id="username" name="username"
                    [(ngModel)]="user.username" type="text" class="form-control" #usernameControl="ngModel">
                    <span class="help-block" *ngIf="usernameControl.invalid && usernameControl.touched">
                      Username is required
                  </span>
                </div>
                
                <div class="form-group" [class.has-error]="passwordControl.invalid" [class.has-success]="passwordControl.valid">
                  <label for="password">Password</label> 
                  <input required id="password" name="password"
                    [(ngModel)]="user.password" type="password" class="form-control" #passwordControl="ngModel">
                    <span class="help-block" *ngIf="passwordControl.invalid && passwordControl.touched">
                      Password is required
                  </span>
                </div>
              </div>
              
              <div class="panel-footer">
                <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Login</button>
                <a [routerLink]="['/register']" class="btn btn-link" data-dismiss="modal">Register</a>
              </div>
            </div>
          </form>
          
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        
      </div>  <!-- end of div model content -->
    </div>  <!-- end of div model dialog -->
  </div>  <!-- end of div model fade -->


