.dropdown-toggle {
    cursor: pointer;
}

.h4 {
    text-align: left;
}

.nav-link{
    color: white !important;
}

.navbar, .navbar-brand {
    background-color: #0095cd !important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.dropdown-menu-right {
    right: 0;
    left: auto !important;
}

.wrapper {
    cursor: pointer;
    height: 70px;
    width: 458px;
    background-size: contain;
    background-image: url("/assets/img/head_logo.jpg");
    color:white;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 10px;
    font-family: cursive;
  }

