<div class="row">
	<div class="col-3">
		<ul class="list-group">
			<li *ngFor="let c of categories$" class="list-group-item">
			{{ c.name }}
			</li>
		</ul>
	</div>
	<div class="col">
		<div class="row">
			<ng-container *ngFor="let p of products$ | async; let i= index">
			<div class="col">
				<div class="card" style="width: 15rem;">
					<img class="card-img-top" [src]="p.imgName" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{p.name}}</h5>
						<p class="card-text">{{p.price | currency:'INR':true }}</p>
						<a href="#" class="btn btn-primary">Buy</a>
					</div>
				</div>
			</div>
			<div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
			</ng-container>
		</div>
	</div>
</div>


