.card {
    margin-bottom: 30px;
    cursor: pointer;
    width: 350px;
    height: 420px;
}

.card-footer {
    padding: 0px;
}
.card-body {
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
    padding-bottom: 10px;
}
.cardImg { 
    display: block;
    width: 100%;
    height: auto;
}